/* src/components/detail/chat/style.css */
.chat-container {
  width: 21.35vw;
  background-color: #1a1a1a;
  border: 0.052vw solid #333;
  border-radius: 0.63vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 헤더 영역 */
.chat-header {
  padding: 0.31vw 0.57vw;
  border-bottom: 0.052vw solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

.chat-header .left {
  display: flex;
  align-items: center;
  gap: 0.42vw;
  color: #888;
  font-size: 0.73vw;
}

.chat-header .title {
  color: #fff;
  font-weight: bold;
  font-size: 0.83vw;
}

.chat-header .icon {
  color: #fff;
  font-size: 1.04vw;
}

/* 메시지 리스트 영역 */
.chat-messages {
  flex: 1;
  overflow: hidden;
  padding: 0.4688vw 0.2604vw;
  display: flex;
  flex-direction: column;
  gap: 0.6250vw;
}

.message-item {
  display: flex;
  height: 2.3958vw;
  padding: 0 0.6771vw;
  align-items: center;
  gap: 0.63vw;
}

.message-item .profile-img {
  width: 1.8750vw;
  height: 1.8750vw;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}

.message-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-content .user-name {
  font-size: 0.9375vw;
  color: #7F7F7F;
font-weight: 400;
margin-right: 0.63vw;
}

.message-content .text {
  color: #fff;
  font-size: 0.9375vw;
  font-weight: 400;
}

/* 입력창 영역 */
.chat-input-area {
  padding: 0.42vw 0.47vw;
  border-top: 0.052vw solid #333;
  background-color: #222;
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.chat-input-area .my-profile {
  width: 1.67vw;
  height: 1.67vw;
  border-radius: 50%;
  background-color: #555;
}


.input-box {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 0.52vw 2.08vw 0.52vw 0.78vw;
  border-radius: 1.04vw;
  background-color: #333;
  border: none;
  color: #fff;
  outline: none;
}

.input-box .smiley-icon {
  position: absolute;
  right: 0.78vw;
  color: #888;
  cursor: pointer;
}

.send-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.94vw;
}
