/* src/components/detail/chat/style.css */
.chat-container {
  height: 100%;
  width: 21.35vw;
  background-color: #1a1a1a;
  border: 0.052vw solid #333;
  border-radius: 0.63vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* 헤더 영역 */
.chat-header {
  padding: 0.31vw 0.57vw;
  border-bottom: 0.052vw solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

.chat-header .left {
  display: flex;
  align-items: center;
  gap: 0.42vw;
  color: #888;
  font-size: 0.73vw;
}

.chat-header .title {
  color: #fff;
  font-weight: bold;
  font-size: 0.83vw;
}

.chat-header .icon {
  color: #fff;
  font-size: 1.04vw;
}

/* 메시지 리스트 영역 */
.chat-messages {
  flex: 1;
  height: 31.67vw;
  overflow-y: auto;
  padding: 0.63vw;
  display: flex;
  flex-direction: column;
  gap: 0.78vw;
}

.message-item {
  display: flex;
  align-items: flex-start;
  gap: 0.63vw;
}

.message-item .profile-img {
  width: 1.88vw;
  height: 1.88vw;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-content .user-name {
  font-size: 0.68vw;
  color: #888;
  /* 왕티즈는 약간 회색으로 */
  margin-bottom: 0.21vw;
}

.message-content .text {
  color: #fff;
  font-size: 0.78vw;
  line-height: 1.4;
}

/* 입력창 영역 */
.chat-input-area {
  padding: 0.42vw 0.47vw;
  border-top: 0.052vw solid #333;
  background-color: #222;
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.chat-input-area .my-profile {
  width: 1.67vw;
  height: 1.67vw;
  border-radius: 50%;
  background-color: #555;
}


.input-box {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 0.52vw 2.08vw 0.52vw 0.78vw;
  border-radius: 1.04vw;
  background-color: #333;
  border: none;
  color: #fff;
  outline: none;
}

.input-box .smiley-icon {
  position: absolute;
  right: 0.78vw;
  color: #888;
  cursor: pointer;
}

.send-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.94vw;
}
